body{
    background-image: url("./assets/beach-aerieal-view-scenery-wallpaper.jpg");
}

header{
    background-color: rgba(0, 0, 0, 0.582);
    margin-top: 0rem;
    padding-top: 0;
}

#body{
    display: flex;
    align-items: top;
    
}
h1{
    margin-top: 0rem;
    color: white;
    margin-left: 1.3rem;
    font-size: 3rem;
}